{
    "presets": [
        ["env", {
            "loose": false,
            "modules": "commonjs",
            "spec": true,
            "targets": {
                "browsers": ["> 1%", "last 20 versions", "not ie <= 8"]
            },
            "useBuiltIns": "usage",
            "debug": false
        }],
        "stage-3"
    ],
    "plugins": [
        "dynamic-import-node",
        "transform-class-properties",
        "transform-es5-property-mutators",
        "transform-object-rest-spread",
        "transform-runtime",
        "transform-vue-jsx"
    ],
    "comments": false
}
